<!-- Begin id menupanel -->
<div data-role="panel" id="menupanel" data-position-fixed="true" data-display="overlay" data-swipe-close="true" data-dismissible="true" data-theme="a">

    <div class="panel-content">
        <br>
        <ul>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/program2.svg" alt="Program D">Doctoral Hooding</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/program2.svg" alt="Program C">Commencement Program</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/person.svg" alt="Chancellor">The President</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/person.svg" alt="Chancellor">The Chancellor</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/board3.svg" alt="Board">Board of Trustees</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/person2.svg" alt="Speaker D">Doctoral Speaker</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/person2.svg" alt="Speaker C">Commencement Speaker</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/message2.svg" alt="Alumni">Message to New Alumni</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/remote4.svg" alt="Alumni">Remote Viewing Centers</a></li>
        </ul>

        <h4><i>Courtesy</i></h4>

        <div class="gn-5">
            <a href="http://expo2.solocal.mobi" data-role="button" rel="external" data-mini="true" data-theme="a" >Southern Alumni</a>
        </div>

        <h4><i>&copy; 2013</i></h4>
        <h4>Solocal, Inc.</h4>

    </div><!-- /panel-content -->
</div><!-- /menupanel -->

<!-- Begin id gradpanel -->
<div data-role="panel" id="gradpanel" data-position="right" data-position-fixed="true" data-display="overlay" data-swipe-close="true" data-dismissible="true" data-theme="a">

    <div class="panel-content">
        <br>
        <ul>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/degrees.svg" alt="Degrees">Schools and Departments</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/cap.svg" alt="Doctoral">Doctoral Candidates</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/cap.svg" alt="Post-Bacc">Post-Baccalaureate</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/cap.svg" alt="Graduate">Graduate Candidates</a></li>
            <li><a href="schools.html" data-prefetch="true" data-transition="slide" data-graduate-filter="bacca"><img src="icons/cap.svg" alt="Bacc">Baccalaureate Candidates</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/cap.svg" alt="ROTC">ROTC Candidates</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/cap.svg" alt="Certs">Certificate Candidates</a></li>
        </ul>

        <br>
    </div>
</div><!-- /infopanel -->

<!-- Begin id infopanel -->
<div data-role="panel" id="infopanel" data-position="right" data-position-fixed="true" data-display="overlay" data-swipe-close="true" data-dismissible="true" data-theme="a">

    <div class="panel-content">
        <br>
        <ul>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/events.svg" alt="Events">Commencement Events</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/campaign.svg" alt="Cmte">Annual Fund</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/cmte.svg" alt="Cmte">Comm. Committee</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/disability.svg" alt="Credits">Disability Services</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/faq.svg" alt="Credits">FAQ's</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/photos.svg" alt="Privacy">Photos and Video</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/contacts2.svg" alt="Contacts">Contacts</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/directions.svg" alt="Direction">Directions</a></li>
            <li><a href="#" data-prefetch="true" data-transition="slide"><img src="icons/privacy.svg" alt="Privacy">Privacy</a></li>
        </ul>

        <h4><i>&copy; 2013</i></h4>
        <div class="gn-5">
            <a href="http://www.solocal.mobi" data-role="button" data-icon="page" data-mini="true" data-theme="a" >Solocal, Inc.</a>
            <a href="tel:1+910-691-9838" data-role="button" data-icon="phone" data-mini="true" data-theme="a" >Call</a>
            <a href="mailto:smann@solocal.mobi" data-role="button" data-icon="email" data-mini="true" data-theme="a" >Email</a>
        </div>

    </div>
</div><!-- /infopanel -->

<!-- Begin HEADER -->
<div data-role="header" data-position="fixed" data-tap-toggle="false" data-theme="a">
    <h1>112th Commencement</h1>

    <!-- Begin NavBar -->
    <div data-role="navbar" class="nav-special" data-grid="c" data-theme="a">
        <ul>
            <li><a href="#menupanel" data-role="button" id="menutop2" data-icon="custom" data-iconpos="notext" data-theme="b"></a></li>
            <li><a href="#popupGlance" data-rel="popup" data-transition="slidedown" data-position-to="window" data-role="button" id="calendartop" data-icon="custom" data-iconpos="notext" data-theme="b"></a></li>
            <li><a href="#gradpanel" data-role="button" id="capmenu" data-icon="custom" data-theme="b"></a></li>
            <li><a href="#infopanel" data-role="button" id="info" data-icon="custom" data-iconpos="notext" data-theme="b"></a></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /header -->

<!-- Begin CONTENT -->
<div data-role="content">
    <br>
    <div class="gn-5"><img src="img/title.svg"  alt="Commencement 2013" ></div>
    <br>
    <br>
    <br>
    <div class="gn-5"><img src="img/southern2.svg"  alt="Southern Logo" ></div>
    <br>
    <br>
    <br />
    <div class="gn-5">
        <a href="#" data-transition="slide" data-inline="true" data-role="button" data-theme="b">Message From The Chancellor</a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div data-role="popup" id="popupGlance" data-theme="a" style="max-width: 400px; min-width: 275px;" class="ui-corner-all">
        <div data-role="header" data-theme="a" class="ui-corner-top">
            <h1>At a Glance</h1>
        </div>

        <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
            <div class="gn-2"><h5>Doctoral Hooding</h5></div>
            <div class="glance">
                <ul>
                    <li><strong>Date:</strong> June 11, 2013</li>
                    <li><strong>Location:</strong> The Stadium</li>
                    <li><strong>Time:</strong> 11:30 AM to 2:30 PM</li>
                    <li><strong>Admission Begins:</strong> 11:30 AM</li>
                </ul>
            </div>

            <div class="gn-2"><h5>Commencement Ceremony</h5></div>
            <div class="glance">
                <ul>
                    <li><strong>Date:</strong> June 12, 2013</li>
                    <li><strong>Location:</strong> The Stadium</li>
                    <li><strong>Time:</strong> 10:00 AM</li>
                    <li><strong>Admission Begins:</strong> 8:30 AM</li>
                </ul>
            </div>

        </div><!-- /popcontent -->

    </div><!-- /popup -->

</div><!-- /content -->
